{% extends 'base.html.twig' %}

{% block body %}
  <h1>Contenu de votre message</h1>
  <strong>E-mail:</strong>
  <p>{{ email }}</p>

  <strong>Message:</strong>
  <p>{{ message|nl2br }}</p>
{% endblock %}


{% block title %}
  {{ parent() }} -Resultat
{% endblock %}