{# le template hérite de base.html.twig à la racine de template  #}

{% extends'base.html.twig' %}


{#Surchage du contenu du bloc body défini dans base.html.twig #}
{% block body %}
   <h1>Hello Première page Symfony !!!</h1>
{% endblock body %}