{% extends 'base.html.twig' %}

{% block body %}
   <h1>Bonjour <strong style="color: tomato
">{{ user.pseudo }}</strong> welcome !!!</h1>
{% endblock %}

{% block title %}
    {{ parent() }} -Doctrine get user
{% endblock %}

